---
layout: default
menu: home
css: ['index.css', 'sidebar-popular-repo.css', 'introduction.css']
---
 <section class="jumbotron">
    <div class="container">
      <div class="col-sm-2">
      </div>
	<div class="col-sm-2">
		    <img src="/images/avatar.jpg" class="img-circle" alt="Cinque Terre" width="175" height="175">
</div>
<div class="col-sm-8">
  <div class="row-sm-4">
    <h1>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Times New Roman" />
  <font face="Times New Roman">Saurabh Shah</font>
    </h1>
<!-- <h1>{{ site.name }}</h1> -->
<!--      <div id="jumbotron-meta-info">
          <span class="meta-info">
              <span class="octicon octicon-location"></span>
              {{ site.location }}
          </span>
          <!-- <span class="meta-info hvr-grow">
              <span class="octicon octicon-organization"></span>
              <a href="{{ site.company_url }}" target="_blank">{{ site.company }}</a>
          </span>
          <span class="meta-info hvr-grow">
              <span class="octicon octicon-mark-github"></span>
              <a href="{{ site.github_url }}" target="_blank">{{ site.github_username }}</a>
          </span> -->
      </div>
        <div class="row-sm-8">
    		    <span class= "meta-info">
     			      <p>GSocer, Programmer, Tech Enthusiast!!!</p>
            </span>
      </div>
    </div>
</div>
    </div>
</section>
 <section class="content container">

    <div class="row">

        <!-- Post List -->
        <div class="col-md-8">
          <h1 class="saurabh">ME!!</h1>

          <p class="saurabh1"><span class="first-letter"></span> Hi! I’m Saurabh. I love programming and contributing open source.  I believe in the power to spread ideas, build communities and engage with people.

Right now, I am a Google Summer of Code student in Ruby organization. This website is a result of my fascination for web designing. I want to save my GsoC journey and personal experiences in blogs to relive it again and again.</p>
<br />
<p class="saurabh1">I am originally from India. When I am not making magic with my code, you’re likely to find me exploring nature and hanging out with my friends.</p>
    <!--        <ol class="post-list">
                {% for post in paginator.posts %}
                <li class="post-list-item">
                    <h2 class="post-list-title">
                        <a class="hvr-underline-from-center" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                    </h2>
                    <p class="post-list-description">
                        {{ post.excerpt | strip_html | strip }}
                    </p>
                    <p class="post-list-meta">
                        <span class="octicon octicon-calendar"></span> {{ post.date | date: "%Y/%m/%d" }}
                    </p>
                </li>
                {% endfor %}
            </ol>

            <!-- Pagination
            {% include pagination.html %}

            <!-- Comments
            {% include disqus-comments.html %}  -->

        </div>

       <div class="col-md-4">
            {% include sidebar-popular-repo.html %}
        </div>

    </div>

</section>

 <!--	<head>
  		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  		<meta name="description" content="" />
  		<meta name="keywords" content="" />
  		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
  	<!--	<script src="/js/jquery.min.js"></script>
  		<script src="/js/jquery.poptrox.min.js"></script>
  		<script src="/js/skel.min.js"></script>
  	        <script src="/js/init.js"></script>
  		<noscript>
  			<link rel="stylesheet" href="/css/skel.css" />
  			<link rel="stylesheet" href="/css/style.css" />
  			<link rel="stylesheet" href="/css/style-xlarge.css" />
  		</noscript>
  		<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
  <!--	</head>

	<body id="top">

      <header id="header">
          <a href="#" class="image avatar"><img src="/images/avatar.jpg" alt="" /></a>
          <h1><strong>I am <a href="/">Saurabh Shah </a></strong>, programmer, <br />
          Gsocer and much more</h1>
      </header>
