/** Only for index.html **/

.site-header{
  background-color: #000;
  background-image: url(http://www.transparenttextures.com/patterns/low-contrast-linen.png);
}
.site-header #site-header-brand {

  /*background-image: url("http://www.transparenttextures.com/patterns/low-contrast-linen.png");*/

  /*http://www.transparenttextures.com/patterns/45-degree-fabric-light.png*/
    color: #fff;
}

.site-header .site-header-nav-item {
    color: #fff; /*#9acfea;*/
}

.site-header a:hover {
    color: #fff;
}
.site-header-scrolled {
  background-color: #fff;
}
.jumbotron {
  /*background-color: #3138c2;*/
  background-color: #000000;
background-image: url("http://www.transparenttextures.com/patterns/low-contrast-linen.png");
  /*background-image: url(http://www.transparenttextures.com/patterns/45-degree-fabric-light.png);*/

/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.site-header.site-header-nav-scrolled a {
    color: #2e2e2e;
}

.site-header.site-header-nav-scrolled #site-header-brand {
    color: #2e2e2e !important;
}

.site-header.site-header-nav-scrolled a:hover {
    color: #4183c4;
}
